<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">Index</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Pieces in carton</th>
            <th scope="col">Weight of Piece</th>
            <th scope="col">Pieces on Pallet</th>
            <th scope="col">Type of Packaging</th>
            <th scope="col">Type of Carton</th>


        </tr>
    </thead>

    <tbody>
        <tr class="table-light">>
            <th scope="row"><input type="text" name="index" value="<%= product.index %>"></th>
            <td><input type="text" name="name" value="<%= product.name %>"></td>
            <td><input type="number" name="piecesInCarton" value="<%= product.piecesInCarton %>"></td>
            <td> <input type="number" name="weightOfPiece" value="<%= product.weightOfPiece %>"></td>
            <td><input type="number" name="piecesOnPallet" value="<%= product.piecesOnPallet %>"></td>
            <td><input type="number" name="typeOfPackaging" value="<%= product.typeOfPackaging %>"></td>
            <td><input type="number" name="typeOfCarton" value="<%= product.typeOfCarton %>"></td>

    </tbody>
</table>