<!-- podgląd produktu - view-->
<h3 class="page-header">Produkt <%= product.name %></h3>
<div class="row">

    <div class="col-lg-12 ">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 67.5rem;">
                <h3 class=" card-header">Nazwa produktu</h3>
                <div class="card-body">
                    <div class="form-group ">
                        <label>Index</label>
                        <input class="form-control" id="readOnlyInput" type="text" placeholder=<%= product.index %>
                            readonly="">
                    </div>
                    <div class="form-group">
                        <label>Nazwa</label>
                        <input class="form-control" id="readOnlyInput" type="text" placeholder=<%= product.name %>
                            readonly="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-lg-4">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <h3 class="card-header">Wydajność produkcji</h3>
                <div class="card-body">
                    <div class="form-group">
                        <label>Wydajność linia A (sec/szt)</label>
                        <input class="form-control" id="readOnlyInput" type="number"
                            placeholder=<%= product.packingTimes.packingLineA %> readonly="">
                    </div>
                    <div class="form-group">
                        <label>Wydajność linia B (sec/szt)</label>
                        <input class="form-control" id="readOnlyInput" type="number"
                            placeholder=<%= product.packingTimes.packingLineB %> readonly="">
                    </div>
                    <div class="form-group">
                        <label>Wydajność linia C (sec/szt)</label>
                        <input class="form-control" id="readOnlyInput" type="number"
                            placeholder=<%= product.packingTimes.packingLineC %> readonly="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <h3 class=" card-header">Specyfikacja produktu</h3>
                <div class="card-body">
                    <div class="form-group">
                        <label>Element A</label>
                        <input class="form-control" id="readOnlyInput" type="float"
                            placeholder=<%= product.recipe.elementA %> readonly="">
                    </div>
                    <div class="form-group">
                        <label>Element B</label>
                        <input class="form-control" id="readOnlyInput" type="float"
                            placeholder=<%= product.recipe.elementB %> readonly="">
                    </div>
                    <div class="form-group">
                        <label>Element C</label>
                        <input class="form-control" id="readOnlyInput" type="float"
                            placeholder=<%= product.recipe.elementC %> readonly="">
                    </div>
                    <div class="form-group">
                        <label>Element D</label>
                        <input class="form-control" id="readOnlyInput" readonly="" type="float"
                            placeholder=<%= product.recipe.elementD %>>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 ">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <h3 class="card-header">Logistyka pakowania</h3>
                <div class="card-body">
                    <div class="form-group">
                        <label>Sztuk w kartonie</label>
                        <input type="number" name="piecesInCarton" class="form-control" id="readOnlyInput" readonly=""
                            value="<%= product.piecesInCarton %>">
                    </div>
                    <div class="form-group">
                        <label>Waga sztuki</label>
                        <input type="float" name="weightOfPiece" class="form-control" id="readOnlyInput" readonly=""
                            value="<%= product.weightOfPiece %>">
                    </div>
                    <div class="form-group">
                        <label>Kartonów na palecie</label>
                        <input type="number" name="piecesOnPallet" class="form-control" id="readOnlyInput" readonly=""
                            value="<%= product.piecesOnPallet %>">
                    </div>
                    <div class="form-group">
                        <label>Rodzaj opakowania</label>
                        <input type="text" name="typeOfPackaging" class="form-control" id="readOnlyInput" readonly=""
                            value="<%= product.typeOfPackaging %>">
                    </div>
                    <div class="form-group">
                        <label>Rodzaj kartonu</label>
                        <input type="text" name="typeOfCarton" class="form-control" id="readOnlyInput" readonly=""
                            value="<%= product.typeOfCarton %>">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>