<form action="/products" method="GET">

    <div class="row">
        <div class="col-lg-4 ">
            <div class="bs-component">
                <div class="card border-primary mb-2">
                    <h5 class=" card-header">Index</h5>
                    <div class="card-body">

                        <input type="text" name="index" value="<%= searchOptions.index %>">
                        <button type="submit" class="btn btn-primary btn-sm">Wyszukaj </button>


                    </div>
                </div>
            </div>
        </div>
    </div>

</form>



<div class="row">
    <div class="col-lg-12 ">
        <table class="table table-hover">
            <thead>
                <tr class="table-secondary">
                    <th style="width: 15em;" scope="col">Index</th>
                    <th style="width: 25em;" scope="col">Nazwa</th>
                    <th style="width: 45em;" scope="col">Data utworzenia</th>
                    <th style="width: 15em;" scope="col">Akcja</th>
                </tr>
            </thead>


            <% products.forEach(product => { %>
            <tbody>
                <tr class="table-light">
                    <th scope="row"><%= product.index %></th>
                    <td><%= product.name %></td>
                    <td><%= product.updateDate %></td>

                    <td>
                        <div class="row">

                            <a class="btn btn-sm btn-success" href="/products/<%= product.id %>/edit">Edytuj</a>

                            <%- include('../partials/deleteForm',
                  { url:`/products/${product.id}` }) %>

                        </div>
                    </td>
            </tbody>
            <% }) %>
        </table>
    </div>
</div>