<!-- lista produktów - view brygadzista-->

<%- include('_search_form.ejs') %>

<div class="row">
    <div class="col-lg-12 ">
        <table class="table table-hover table-striped ">
            <thead>
                <tr class="table-secondary">
                    <th style="width: 15em;" scope="col">Index</th>
                    <th style="width: 25em;" scope="col">Nazwa</th>
                    <th style="width: 45em;" scope="col">Data utworzenia</th>
                    <th style="width: 15em;" scope="col">Akcja</th>
                </tr>
            </thead>


            <% products.forEach(product => { %>
            <tbody>
                <tr class="table-light">
                    <th scope="row"><%= product.index %></th>
                    <td><%= product.name %></td>
                    <td><%= product.updateDate %></td>

                    <td>
                        <div class="row">
                            <a class="btn btn-sm btn-info" href="/products/indexView/<%= product.id %>"
                                style="margin-right: 0.25rem ;">Pokaż</a>



                        </div>
                    </td>
            </tbody>
            <% }) %>
        </table>
    </div>
</div>